@charset "UTF-8";

/* Tipical Devices BreakPoints

Dispositivos Móveis: 320px até 480px;
Tablet e iPads: 481px até 768px;
Laptops e Telas Pequenas: 769px até 1024px;
Desktops e Telas Grandes: 1025px até 1200px;
TV e Telas Extragrandes: 1201px e mais */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body { /* Tablet */
        background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body { /* Desktops e TVs */
        background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    }

    section#login {
        width: 930px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

    div.campo > input {
        transform: translateY(-13px);
    }